[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
flasgger = "*"
psycopg2 = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
flask-mail = "*"
pgvector = "*"
pymupdf = "*"
python-docx = "*"
fastembed = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.12"
